<mat-expansion-panel class="filtro">

  <!-- Cabeçalho do expansion panel -------------------------------------------------------------------------- -->
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtros
    </mat-panel-title>
    <mat-panel-description>
      <div class="chipspace">
        <mat-chip-listbox>

          <mat-chip-row *ngFor="let filterChip of chipShow">
            {{filterChip}}
          </mat-chip-row>
        </mat-chip-listbox>
      </div>
      <mat-icon>filter_alt</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- Filtros do expansion panel -------------------------------------------------------------------------- -->
  <div>
    <form [formGroup]="filterForm">
      <mat-grid-list [cols]="isTelaMenorQue500px" rowHeight="80px">

        <!-- Filtro de evento------------------------------------------------------------------------ -->
        <mat-grid-tile [colspan]="1">
          <mat-form-field class="form-field" appearance="outline">

            <mat-label>Evento</mat-label>
            <input type="text" placeholder="Evento" (blur)="addFiltroInput('eventos')" matInput
              formControlName="eventos" [matAutocomplete]="completeEvento" [disabled] = "TabelaEvents">
            <mat-error *ngIf="filterForm.get('eventos')?.errors?.['invalidWord']">Filtro Inválido</mat-error>
            <mat-autocomplete autoActiveFirstOption #completeEvento="matAutocomplete">
              <mat-option *ngFor="let option of eventos"
                (onSelectionChange)="addFiltroSelect($event,'evento', option.name)" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </mat-grid-tile>

        <!-- Filtro de espaco------------------------------------------------------------------------ -->
        <mat-grid-tile [colspan]="1">
          <mat-form-field class="form-field" appearance="outline">

            <mat-label>Espaço</mat-label>
            <input type="text" placeholder="Espaço" (blur)="addFiltroInput('espacos')" matInput
              formControlName="espacos" [matAutocomplete]="completeEspaco" [disabled] = "TabelaSpaces">
            <mat-error *ngIf="filterForm.get('espacos')?.errors?.['invalidWord']">Filtro Inválido</mat-error>
            <mat-autocomplete autoActiveFirstOption #completeEspaco="matAutocomplete">
              <mat-option *ngFor="let option of espacos"
                (onSelectionChange)="addFiltroSelect($event,'espaco', option.name)" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </mat-grid-tile>

        <!-- Filtro de projeto------------------------------------------------------------------------ -->
        <mat-grid-tile [colspan]="1">

          <mat-form-field class="form-field" appearance="outline">

            <mat-label>Projeto</mat-label>
            <input type="text" placeholder="Projeto" (blur)="addFiltroInput('projetos')" matInput
              formControlName="projetos" [matAutocomplete]="completeProjeto">
            <mat-error *ngIf="filterForm.get('projetos')?.errors?.['invalidWord']">Filtro Inválido</mat-error>
            <mat-autocomplete autoActiveFirstOption #completeProjeto="matAutocomplete">
              <mat-option *ngFor="let option of projetos"
                (onSelectionChange)="addFiltroSelect($event,'projeto', option.name)" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </mat-grid-tile>

        <!-- Filtro de clasEtaria------------------------------------------------------------------------ -->
        <mat-grid-tile [colspan]="1">
          <mat-form-field class="form-field" appearance="outline">

            <mat-label>Classificação Etária</mat-label>
            <input type="text" placeholder="Classificação Etária" (blur)="addFiltroInput('clasEtarias')" matInput
              formControlName="clasEtarias" [matAutocomplete]="completeClasEtaria">
            <mat-error *ngIf="filterForm.get('clasEtarias')?.errors?.['invalidWord']">Filtro Inválido</mat-error>
            <mat-autocomplete autoActiveFirstOption #completeClasEtaria="matAutocomplete">
              <mat-option *ngFor="let option of clasesEtarias"
                (onSelectionChange)="addFiltroSelect($event,'clasEtaria', option.name)" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </mat-grid-tile>


        <!-- Filtro de donoEspaco------------------------------------------------------------------------ -->
        <mat-grid-tile [colspan]="1">
          <mat-form-field class="form-field" appearance="outline">

            <mat-label>Dono do Espaço</mat-label>
            <input type="text" placeholder="Dono do Espaço" (blur)="addFiltroInput('donoEspacos')" matInput
              formControlName="donoEspacos" [matAutocomplete]="completeDonoEspaco">
            <mat-error *ngIf="filterForm.get('donoEspacos')?.errors?.['invalidWord']">Filtro Inválido</mat-error>
            <mat-autocomplete autoActiveFirstOption #completeDonoEspaco="matAutocomplete">
              <mat-option *ngFor="let option of donoEspacos"
                (onSelectionChange)="addFiltroSelect($event,'donoEspaco', option.name)" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </mat-grid-tile>

        <!-- Filtro de donoEvento------------------------------------------------------------------------ -->
        <mat-grid-tile [colspan]="1">
          <mat-form-field class="form-field" appearance="outline">

            <mat-label>Dono do Evento</mat-label>
            <input type="text" placeholder="Dono do Evento" (blur)="addFiltroInput('donoEventos')" matInput
              formControlName="donoEventos" [matAutocomplete]="completeDonoEvento">
            <mat-error *ngIf="filterForm.get('donoEventos')?.errors?.['invalidWord']">Filtro Inválido</mat-error>
            <mat-autocomplete autoActiveFirstOption #completeDonoEvento="matAutocomplete">
              <mat-option *ngFor="let option of donoEventos"
                (onSelectionChange)="addFiltroSelect($event,'donoEvento', option.name)" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>

        </mat-grid-tile>

        <!-- Filtro de donoProjeto------------------------------------------------------------------------ -->
        <mat-grid-tile [colspan]="1">
          <mat-form-field class="form-field" appearance="outline">

            <mat-label>Dono do Projeto</mat-label>
            <input type="text" placeholder="Dono do Projeto" (blur)="addFiltroInput('donoProjetos')" matInput
              formControlName="donoProjetos" [matAutocomplete]="completeDonoProjeto">
            <mat-error *ngIf="filterForm.get('donoProjetos')?.errors?.['invalidWord']">Filtro Inválido</mat-error>
            <mat-autocomplete autoActiveFirstOption #completeDonoProjeto="matAutocomplete">
              <mat-option *ngFor="let option of donoProjetos"
                (onSelectionChange)="addFiltroSelect($event,'donoProjeto', option.name)" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </mat-grid-tile>




        <!-- Filtro de data ------------------------------------------------------------------------ -->
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Data inicial</mat-label>
            <input matInput formControlName="dataInicial" (blur)="addFiltroInput('dataInicial')"
              (dateChange)="setDate($event)" [max]="maxDate" [matDatepicker]="data_inicial">
            <mat-datepicker-toggle matIconSuffix [for]="data_inicial"></mat-datepicker-toggle>
            <mat-datepicker #data_inicial></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <!-- Filtro de data ------------------------------------------------------------------------ -->
        <mat-grid-tile>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Data final</mat-label>
            <input matInput formControlName="dataFinal" (blur)="addFiltroInput('dataFinal')" (dateChange)="setDate($event)"
              [max]="todayDate" [min]="minDate" matInput [matDatepicker]="data_final" [disabled]="true">
            <mat-datepicker-toggle matIconSuffix [for]="data_final"></mat-datepicker-toggle>
            <mat-datepicker #data_final></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </form>

    <section>
      <section>
        <mat-checkbox [checked]="TabelaAgents" value="Agents" (change)="SelectAgents($event.checked)">
          Tabela Agents
        </mat-checkbox>
      </section>

      <section>
        <mat-checkbox [(ngModel)]="AgentsId" [disabled]="true">
          Id
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsName" [disabled]="!TabelaAgents">
          Name
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsDescription" [disabled]="true">
          Description
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsCreateTSP" [disabled]="true">
          Create TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsUpdateTSP" [disabled]="true">
          Update TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsParent" [disabled]="true">
          Parent
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsTerms" [disabled]="true">
          Terms
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsChildren" [disabled]="true">
          Children
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsSpaces" [disabled]="true">
          Spaces
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsEvents" [disabled]="true">>
          Events
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="AgentsProjects" [disabled]="true">
          Projects
        </mat-checkbox>
      </section>
    </section>

    <section>
      <section>
        <mat-checkbox [checked]="TabelaEvents" value="Events" (change)="SelectEvents($event.checked)">
          Tabela Events
        </mat-checkbox>
      </section>

      <section>
        <mat-checkbox [(ngModel)]="EventsId" [disabled]="true">
          Id
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventsName" [disabled]="!TabelaEvents">
          Name
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventsDescription" [disabled]="!TabelaEvents">
          Description
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventsCreateTSP" [disabled]="true">
          Create TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventsUpdateTSP" [disabled]="true">
          Update TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventsClasEtaria" [disabled]="!TabelaEvents">
          Class Etária
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventsOwner" [disabled]="!TabelaEvents">
          Owner
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventsProject" [disabled]="true">
          Project
        </mat-checkbox>
      </section>
    </section>

    <section>
      <section>
        <mat-checkbox [checked]="TabelaSpaces" value="Spaces" (change)="SelectSpaces($event.checked)">
          Tabela Spaces
        </mat-checkbox>
      </section>

      <section>
        <mat-checkbox [(ngModel)]="SpacesId" [disabled]="true">
          Id
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesLocation" [disabled]="!TabelaSpaces">
          Location
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="SpacesName" [disabled]="!TabelaSpaces">
          Name
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesDescription" [disabled]="!TabelaSpaces">
          Description
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesCreateTSP" [disabled]="true">
          Create TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesUpdateTSP" [disabled]="true">
          Update TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesEventOcur" [disabled]="true">
          Event Ocur
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesHorarios" [disabled]="!TabelaSpaces">
          Horarios
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesTelefone" [disabled]="!TabelaSpaces">
          Telefone
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesEmail" [disabled]="!TabelaSpaces">
          Email
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesChildren" [disabled]="true">
          Children
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesTerms" [disabled]="!TabelaSpaces">
          SpacesTerms
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesParent" [disabled]="!TabelaSpaces">
          PareSpacesParent
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="SpacesOwner" [disabled]="!TabelaSpaces">
          Owner
        </mat-checkbox>
      </section>
    </section>

    <section>
      <section>
        <mat-checkbox [checked]="TabelaEventOcur" value="Spaces" (change)="SelectEventOcur($event.checked)">
          Tabela Event Ocurrence
        </mat-checkbox>
      </section>

      <section>
        <mat-checkbox [(ngModel)]="EventOcurId" [disabled]="true">
          Id
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventOcurStartsOn" [disabled]="!TabelaEventOcur">
          StartsOn
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventOcurStartsAt" [disabled]="!TabelaEventOcur">
          StartsAt
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventOcurEndsAt" [disabled]="!TabelaEventOcur">
          EndsAt
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventOcurFrequency" [disabled]="true">
          Frequency
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventOcurSeparation" [disabled]="true">
          Separation
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventOcurEvent" [disabled]="true">
          Event
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="EventOcurSpace" [disabled]="true">
          Space
        </mat-checkbox>

      </section>
    </section>

    <section>
      <section>
        <mat-checkbox [checked]="TabelaProject" value="Spaces" (change)="SelectProject($event.checked)">
          Tabela Project
        </mat-checkbox>
      </section>

      <section>
        <mat-checkbox [(ngModel)]="ProjectId" [disabled]="true">
          Id
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectName" [disabled]="!TabelaProject">
          Name
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectDescription" [disabled]="!TabelaProject">
          Description
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectCreateTSP" [disabled]="true">
          Create TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectUpdateTSP" [disabled]="true">
          Update TSP
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectRegistrationFrom" [disabled]="!TabelaProject">
          Registration From
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectRegistrationTo" [disabled]="!TabelaProject">
          Registration To
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectParent" [disabled]="!TabelaProject">
          Parent
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectChildren" [disabled]="true">
          Children
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectOwner" [disabled]="!TabelaProject">
          Owner
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="ProjectEvents" [disabled]="true">
          Events
        </mat-checkbox>

      </section>
    </section>


    <div class="filtrar-limpar">
      <button mat-raised-button [disabled]="!validForm()" (click)="filtrar()" class="button-login" color="primary">
        Filtrar
      </button>
      <button mat-raised-button [disabled]="validClearFilter()" (click)="limparFiltros()" class="button-login"
        color="primary">
        Limpar Filtros
      </button>
    </div>

  </div>

</mat-expansion-panel>



<h1>Tabela de dados de Usuário Produtor</h1>
<mat-card>
  <mat-card-content>

    <div style="padding: 10px;">
      <button mat-raised-button (click)="gerarCSV()" class="button-login" color="primary">
        Gerar CSV
      </button>

    </div>


    <div class="mat-elevation-z8">
      <section class="example-container mat-elevation-z8" tabindex="0">


        <table mat-table [dataSource]="dataSource" matSort class="example-container">

          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>


          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>

          </tr>
        </table>
      </section>

      <mat-paginator [pageSizeOptions]="[10, 50, 100]" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="rowsPerPage" [pageIndex]="paginaAtual-1" [showFirstLastButtons]="true">

      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>

